/* =========================
   VARIABLES
========================= */
/* =========================
   MIXINS
========================= */
/* =========================
   RESET
========================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* =========================
   GLOBAL
========================= */
body {
  padding: 0 25px;
  font-family: "Poppins", sans-serif;
  color: #071210;
}

/* =========================
   HEADER
========================= */
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  position: relative;
}
header .navigation .ehya-img {
  width: 100px;
  height: 40px;
}
header .navigation {
  /* Hide checkbox */
}
header .navigation .menu-checkbox {
  display: none;
}
header .navigation .nav-icons {
  display: flex;
  gap: 20px;
  z-index: 100;
}
header .navigation .nav-icons i {
  cursor: pointer;
  font-size: 22px;
}
header .navigation .nav-icons .burger-label {
  cursor: pointer;
}
header .navigation .nav-menu {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: right 0.3s ease-in-out;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
header .navigation .nav-menu li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
header .navigation .nav-menu li a {
  text-decoration: none;
  color: black;
}
header .navigation .nav-menu li button {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  width: 153px;
  height: 54px;
  opacity: 1;
  gap: 10px;
  border-radius: 8px;
  padding-top: 15px;
  padding-right: 43px;
  padding-bottom: 15px;
  padding-left: 43px;
  background-color: rgb(0, 0, 0);
}
header .navigation .menu-checkbox:checked ~ .nav-menu {
  opacity: 1;
  right: 0;
  transform: translateY(0);
  pointer-events: auto;
}

.career-path-now {
  margin-top: 20px;
  overflow-x: hidden;
}
.career-path-now-desc-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.career-path-now-desc-nav h2 {
  font-size: 32px;
  font-weight: 400;
  color: #183b56;
}
.career-path-now-desc-nav p {
  font-size: 16px;
  line-height: 28px;
  max-width: 600px;
}
.career-path-now-desc-nav .career-btns {
  display: flex;
  gap: 10px;
}
.career-path-now-desc-nav .career-btns button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.career-path-now-desc-nav .career-btns button:first-child {
  background: #052a44;
  color: #ffffff;
}
.career-path-now-desc-nav .career-btns button:last-child {
  background: transparent;
  color: #052a44;
}
.career-path-now-desc-nav .career-btns button:last-child i {
  margin-right: 5px;
}
.career-path-now .career-path-banner {
  display: none;
}
.career-path-now .career-path-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.career-path-now .career-path-cards .card-1 {
  display: flex;
  flex-direction: column;
  box-shadow: 0.74px 1.48px 14.03px 0px rgba(0, 0, 0, 0.08);
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  gap: 20px;
}
.career-path-now .career-path-cards .card-1 h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: -1%;
}
.career-path-now .career-path-cards .card-1 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  color: rgb(46, 46, 46);
  font-weight: 350;
}
.career-path-now .career-path-cards .card-1 i {
  font-size: 30px;
  color: rgb(5, 42, 68);
}
.career-path-now .career-path-cards .card-2,
.career-path-now .career-path-cards .card-3 {
  display: flex;
  flex-direction: column;
  box-shadow: 0.74px 1.48px 14.03px 0px rgba(0, 0, 0, 0.08);
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  gap: 10px;
  padding: 16px;
}
.career-path-now .career-path-cards .card-2 h3,
.career-path-now .career-path-cards .card-3 h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.career-path-now .career-path-cards .card-2 p,
.career-path-now .career-path-cards .card-3 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  color: rgb(46, 46, 46);
  font-weight: 350;
}
.career-path-now .career-path-cards .card-2 .team-container,
.career-path-now .career-path-cards .card-3 .team-container {
  display: flex;
  justify-content: center;
}
.career-path-now .career-path-cards .card-2 .team-container .profile-img,
.career-path-now .career-path-cards .card-3 .team-container .profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -8px;
  border: 2px solid white;
}
.career-path-now .career-path-cards .card-2 .team-container .profile-img:first-child,
.career-path-now .career-path-cards .card-3 .team-container .profile-img:first-child {
  margin-left: 0;
}

/* =========================
   ABOUT SECTION
========================= */
.about-us {
  margin-top: 40px;
  text-align: center;
}
.about-us h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.about-us > p {
  font-size: 16px;
  line-height: 28px;
  max-width: 600px;
  margin: 0 auto;
}
.about-us .mission-talent-unique {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-us .mission-talent-unique .mtu-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 1.42px 2.85px 27.04px rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 20px;
}
.about-us .mission-talent-unique .mtu-card .mtu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 51px;
  height: 51px;
  background: #052a44;
  border-radius: 50%;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.about-us .mission-talent-unique .mtu-card .mtu-header img {
  width: 24px;
}
.about-us .mission-talent-unique .mtu-card .mtu-main {
  padding: 40px 20px 20px;
}
.about-us .mission-talent-unique .mtu-card .mtu-main h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
.about-us .mission-talent-unique .mtu-card .mtu-main p {
  font-size: 16px;
  line-height: 180%;
}
.about-us .mission-talent-unique .mtu-btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: #052a44;
  color: #ffffff;
  width: 120px;
  height: 40px;
  margin: 0 auto;
}

/* =========================
   Footer SECTION
========================= */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 50px;
}
footer .footer-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
footer .footer-header p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
footer .footer-header .phone-num {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}
footer .footer-midd-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-midd-content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}
footer .footer-midd-content .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-midd-content .social-media-links i {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}
footer .footer-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
footer .footer-footer p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
footer .footer-footer a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}

.stories {
  display: none;
}

@media (min-width: 768px) {
  .stories {
    display: block;
    margin: 40px 0;
  }
  .stories-card {
    min-height: 598px;
    background-color: #e8db84;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    padding: 40px 80px 0 59px;
    border-radius: 29px;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .text-wrapper h4 {
    font-size: 42px;
    font-weight: 600;
    color: #000000;
  }
  .text-wrapper p {
    font-size: 18px;
    color: #000000;
    max-width: 515px;
  }
  .services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }
  .service-item {
    display: flex;
    align-items: center;
    gap: 13.5px;
    font-size: 18px;
    color: #000000;
  }
  .icon-circle {
    border-radius: 50%;
    background-color: white;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mtu-btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background: #052a44;
    color: #ffffff;
    width: 120px;
    height: 40px;
    margin-top: 32px;
  }
}

/*# sourceMappingURL=styles.css.map */
