@use "utils" as *;

/* =========================
   CONTACT SECTION
========================= */

.contact-form-section {
  margin: 80px auto;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $color-yellow;
  border-radius: 30px;
  padding: 60px 40px;
  text-align: center;
}

.contact-container {
  h2 {
    font-size: 32px;
    font-weight: 600;
    font-family: $font-heading;
    margin-bottom: 20px;
    color: $text-black;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    color: $text-black;
    max-width: 600px;
    margin: 0 auto 40px auto;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  gap: 20px;
}

input,
textarea {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 12px;
  font-family: $font-primary;
  font-size: 16px;
  outline: none;
  background: $white;

  &::placeholder {
    color: #7e7e7e;
  }
}

textarea {
  min-height: 150px;
  resize: none;
}

.contact-btn {
  align-self: center;
  background: $primary;
  color: $white;
  padding: 15px 50px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.9;
    transform: translateY(-2px);
  }
}

/* =========================
   TABLET
========================= */

@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }
}

/* =========================
   DESKTOP 1200px+
========================= */

@media (min-width: 1200px) {
  .contact-container {
    padding: 80px 80px;
  }

  .contact-container h2 {
    font-size: 40px;
  }
}
