@use "utils" as *;

// =========================
//   CONTACT FORM SECTION
// =========================

.contact-form-section {
  background-color: $color-yellow;
  padding: 60px 40px;
  border-radius: 29px;
  margin: 50px 0;
  text-align: center;

  .contact-container {
    max-width: 900px;
    margin: 0 auto;

    h2 {
      font-size: $fs-h4;
      font-weight: 600;
      font-family: $font-heading;
      margin-bottom: 20px;
      color: $text-black;
    }

    p {
      font-size: $fs-para;
      margin-bottom: 40px;
      line-height: 1.6;
      color: $text-black;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .input-group {
      display: flex;
      gap: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 18px;
      border: none;
      border-radius: $radius-md;
      font-family: $font-primary;
      font-size: $fs-body;
      outline: none;
      background: $white;

      &::placeholder {
        color: #7e7e7e;
      }
    }

    textarea {
      min-height: 150px;
      resize: none;
    }

    .contact-btn {
      @include button-base;
      background: $primary;
      color: $white;
      align-self: center;
      padding: 15px 50px;
      font-size: $fs-para;
      margin-top: 20px;
      border-radius: $radius-md;
      transition: all 0.3s;

      &:hover {
        opacity: 0.9;
        transform: translateY(-2px);
      }
    }
  }
}
