@use "utils" as *;

// =========================
//   HEADER
// =========================

header {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 20px;
    position: relative;

    .ehya-img {
      width: 100px;
      height: 40px;
    }

    /* Hide checkbox */
    .menu-checkbox {
      display: none;
    }

    .nav-icons {
      display: flex;
      gap: 20px;
      z-index: 100;

      i {
        cursor: pointer;
        font-size: 22px;
      }

      .burger-label {
        cursor: pointer;
        padding: 5px;
      }
    }

    .nav-menu {
      position: absolute;
      top: 100%;
      left: -50px;
      width: 100vw;
      height: 100vh;
      background: white;
      list-style: none;

      padding: 0;
      margin: 0;

      opacity: 0;
      transform: translateX(100%);
      transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
      pointer-events: none;
      z-index: 100;

      li {
        padding: 15px;
        border-bottom: 1px solid #eee;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
        }

        button {
          font-family: $font-primary;
          color: $white;
          width: 153px;
          height: 54px;
          opacity: 1;
          gap: 10px;
          border-radius: 8px;
          padding-top: 15px;
          padding-right: 43px;
          padding-bottom: 15px;
          padding-left: 43px;
          background-color: rgba(0, 0, 0, 1);
        }
      }
    }

    .menu-checkbox:checked ~ .nav-menu {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }
    .desktop-nav {
      display: none;
    }

    @media (min-width: 768px) {
      .navigation {
        margin-left: 20px;
      }
      .nav-icons,
      .nav-menu,
      .dektop-title,
      .free-trial-btn {
        display: none;
      }

      .desktop-nav {
        display: flex;
        align-items: center;
        gap: 40px;
        flex: 1;
        justify-content: center;
        margin-left: 50px;

        .desktop-nav-menu {
          display: flex;
          gap: 40px;
          list-style: none;

          li a {
            color: black;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        .desktop-actions {
          display: flex;
          align-items: center;
          gap: 25px;

          i {
            color: rgb(0, 0, 0);
            font-size: 18px;
            cursor: pointer;
          }

          .sign-in {
            color: $primary;
            text-decoration: none;
            font-size: 16px;
          }

          .trial-btn {
            display: none;
          }
        }
      }
    }
    @media (min-width: 1200px) {
      margin-left: 0;
      margin-right: 0;

      .ehya-img {
        display: none;
      }

      .ehya-img-desktop,
      .trial-btn {
        display: block;
      }

      .desktop-nav {
        @include flex-row;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        background-color: rgba(5, 42, 68, 1);
        color: $white;
        border-radius: 12px;
        height: 85px;

        .dektop-title {
          display: block;
          color: $white;
          font-family: $font-primary;
          font-weight: 500;
        }

        .desktop-nav-menu {
          li {
            a {
              color: $white;
              font-family: $font-primary;
              font-weight: $font-weight-reviews;
            }
          }
        }

        .desktop-actions {
          i,
          .sign-in {
            color: $white;
          }

          .free-trial-btn {
            display: block;
            width: 160px;
            height: 55px;
            background-color: $white;
            color: $text-black;
            border-radius: $radius-md;
            font-size: $fs-body;
            font-weight: $font-weight-h4;
            font-family: $font-primary;
          }
        }
      }
    }
  }
}
