@use "utils" as *;

// =========================
//   HEADER
// =========================

header {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;

    .ehya-img {
      width: 100px;
      height: 40px;
    }

    /* Hide checkbox */
    .menu-checkbox {
      display: none;
    }

    .nav-icons {
      display: flex;
      gap: 20px;
      z-index: 100;

      i {
        cursor: pointer;
        font-size: 22px;
      }

      .burger-label {
        cursor: pointer;
      }
    }

    .nav-menu {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      max-width: 350px;
      height: 100vh;
      background: white;
      list-style: none;

      padding: 0;
      margin: 0;

      opacity: 0;
      transition: right 0.3s ease-in-out;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
      z-index: 100;

      li {
        padding: 15px;
        border-bottom: 1px solid #eee;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
        }

        button {
          font-family: $font-primary;
          color: $white;
          width: 153px;
          height: 54px;
          opacity: 1;
          gap: 10px;
          border-radius: 8px;
          padding-top: 15px;
          padding-right: 43px;
          padding-bottom: 15px;
          padding-left: 43px;
          background-color: rgba(0, 0, 0, 1);
        }
      }
    }

    .menu-checkbox:checked ~ .nav-menu {
      opacity: 1;
      right: 0;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}
