// =========================
//   RESET
// =========================

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
