@use "utils" as *;

// =========================
//   SERVICES SECTION
// =========================

.services {
  margin-top: 20px;
  @include flex-column;
  justify-content: center;
  text-align: center;
  background-color: $color-yellow;
  position: relative;
  border-radius: 30px;

  .services-header {
    @include flex-column;
    gap: 20px;

    h2 {
      margin-top: 20px;
      font-size: $fs-h2;
      font-family: $font-primary;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.2px;
      text-align: center;
      color: rgba(24, 59, 86, 1);
    }

    p {
      font-size: $fs-para;
      font-family: $font-primary;
      color: $text-black;
      line-height: 28px;
      word-spacing: 0px;
      margin: 20px;
    }
  }

  .services-skills {
    @include flex-column;
    gap: 20px;
    margin: 20px;

    .skill {
      @include flex-row;
      align-items: center;
      gap: 15px;

      i {
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #333;
        font-size: 18px;

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      p {
        margin: 0;
        font-weight: 500;
      }
    }
  }

  .services-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 150px;
    gap: 15px;

    position: relative;
    isolation: isolate;
    z-index: 2;

    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 12px;

    backdrop-filter: blur(25.58px);
    background-color: rgba(211, 211, 211, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);

    div {
      border-radius: 8px;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 3;
    }

    .img-large {
      grid-column: span 2;
      background-image: url("../assets/images/communication.jpg");
    }

    .img-small-1 {
      background-image: url("../assets/images/two-girl-laptop.jpg");
    }

    .img-small-2 {
      background-image: url("../assets/images/boy-and-girl.jpg");
    }
  }

  .services-circle {
    position: absolute;
    background-color: $primary;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    bottom: 80px;
    left: 5px;

    z-index: 1;
  }

  .services-btn {
    @include button-base;
    button {
      background: $primary;
      color: $white;
      width: 120px;
      height: 40px;
      margin: 0 auto;
      border-radius: 10px;
    }
  }
}
