@use "utils" as *;

/* =========================
   STORIES SECTION
========================= */

.stories {
  display: none;
  margin: 80px auto;
}

/* Show from tablet */
@media (min-width: 768px) {
  .stories {
    display: block;
  }
}

.stories-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $color-yellow;
  border-radius: 30px;
  padding: 60px 40px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* =========================
   TEXT SIDE
========================= */

.stories-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;

  h4 {
    font-size: 28px;
    font-weight: 600;
    color: $text-black;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    max-width: 520px;
    color: $text-black;
  }
}

.stories-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.story-item {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  font-size: 16px;
  color: $text-black;
}

.icon-circle {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 22px;
    height: 22px;
  }
}

.stories-btn {
  margin-top: 30px;
  background: $primary;
  color: $white;
  width: 150px;
  height: 48px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.85;
  }
}

/* =========================
   IMAGE SIDE
========================= */

.stories-image-wrapper {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
}

/* =========================
   DESKTOP 1200px+
========================= */

@media (min-width: 1200px) {
  .stories-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 80px 80px;
  }

  .stories-content {
    width: 45%;
    text-align: left;
    align-items: flex-start;
  }

  .story-item {
    justify-content: flex-start;
  }

  .stories-image-wrapper {
    width: 50%;
    justify-content: flex-end;

    img {
      max-width: 500px;
    }
  }

  .stories-content h4 {
    font-size: 36px;
  }
}
