@use "utils" as *;

// =========================
//   STORIES SECTION
// =========================

.stories {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin: $space-lg 0;
  }
}

@media (min-width: 768px) {
  .stories-card {
    min-height: 598px;
    background-color: $color-yellow;
    @include flex-center;
    gap: 87px;

    padding: 40px 80px 65px 59px;
    border-radius: 29px;
    max-width: 1240px;
    margin: 0 auto;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .text-wrapper h4 {
    font-size: $fs-h4;
    font-weight: $font-weight-h4;
    color: $text-black;
  }

  .text-wrapper p {
    font-size: $fs-para;
    color: $text-black;
    max-width: 515px;
  }

  .services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }

  .service-item {
    display: flex;
    align-items: center;
    gap: 13.5px;
    font-size: $fs-para;
    color: $text-black;
  }

  .icon-circle {
    border-radius: 50%;
    background-color: white;
    width: 53px;
    height: 53px;
    @include flex-center;
  }

  .mtu-btn {
    @include button-base;
    background: $primary;
    color: $white;
    width: 120px;
    height: 40px;
    margin-top: 32px;
  }
}
