/* =========================
   VARIABLES
========================= */

$primary: #052a44;
$text-dark: #183b56;
$text-body: #071210;
$text-black: #000000;
$white: #ffffff;

$font-primary: "Poppins", sans-serif;
$font-heading: "Plus Jakarta Sans", sans-serif;

$fs-h1: 32px;
$fs-h2: 28px;
$fs-h4: 42px;
$fs-body: 16px;
$fs-para: 18px;


$font-weight-h4: 600;
$font-style-h4: semi-bold;

$space-sm: 10px;
$space-md: 20px;
$space-lg: 40px;

$radius-sm: 8px;
$radius-md: 12px;

$card-shadow: 1.42px 2.85px 27.04px rgba(0, 0, 0, 0.08);

/* =========================
   MIXINS
========================= */
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button-base {
  padding: 10px 20px;
  border-radius: $radius-sm;
  border: none;
  cursor: pointer;
  font-family: $font-primary;
  font-weight: 600;
}

@mixin card {
  background: $white;
  border-radius: $radius-md;
  box-shadow: $card-shadow;
  position: relative;
}

/* =========================
   RESET
========================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* =========================
   GLOBAL
========================= */

body {
  margin: 0 25px;
  font-family: $font-primary;
  color: $text-body;
}

/* =========================
   HEADER
========================= */

header {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;

    .ehya-img {
      height: 40px;
    }

    /* Hide checkbox */
    .menu-checkbox {
      display: none;
    }

    .nav-icons {
      display: flex;
      gap: 20px;
      z-index: 100;

      i {
        cursor: pointer;
        font-size: 22px;
      }

      .burger-label {
        cursor: pointer;
      }
    }

    .nav-menu {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 350px;
      height: 100vh;
      background: white;
      list-style: none;

      padding: 0;
      margin: 0;

      opacity: 0;
      transition: right 0.3s ease-in-out;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
      z-index: 100;

      li {
        padding: 15px;
        border-bottom: 1px solid #eee;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
        }

        button {
          font-family: $font-primary;
          color: $white;
          width: 153px;
          height: 54px;
          opacity: 1;
          gap: 10px;
          border-radius: 8px;
          padding-top: 15px;
          padding-right: 43px;
          padding-bottom: 15px;
          padding-left: 43px;
          background-color: rgba(0, 0, 0, 1);
        }
      }
    }

    .menu-checkbox:checked~.nav-menu {
      opacity: 1;
      right: 0;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

.career-path-now {
  margin-top: $space-md;
  overflow-x: hidden;

  &-desc-nav {
    @include flex-center;
    flex-direction: column;
    gap: $space-md;
    text-align: center;

    h2 {
      font-size: $fs-h1;
      font-weight: 400;
      color: $text-dark;
    }

    p {
      font-size: $fs-body;
      line-height: 28px;
      max-width: 600px;
    }

    .career-btns {
      display: flex;
      gap: $space-sm;

      button {
        @include button-base;

        &:first-child {
          background: $primary;
          color: $white;
        }

        &:last-child {
          background: transparent;
          color: $primary;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .career-path-banner {
    position: relative;
    margin-top: 25px;
    width: 320px;
    height: 290px;
    background-color: #d8cd73;
    border-radius: 20px;

    img {
      position: absolute;
      width: auto;
      height: 355px;
      right: -108px;
      bottom: 0;
    }
  }
}

/* =========================
   ABOUT SECTION
========================= */

.about-us {
  margin-top: $space-lg;
  text-align: center;

  h2 {
    font-size: $fs-h2;
    margin-bottom: $space-sm;
  }

  >p {
    font-size: $fs-body;
    line-height: 28px;
    max-width: 600px;
    margin: 0 auto;
  }

  .mission-talent-unique {
    margin-top: $space-lg;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .mtu-card {
      @include card;
      padding: 20px;

      .mtu-header {
        @include flex-center;
        position: absolute;
        width: 51px;
        height: 51px;
        background: $primary;
        border-radius: 50%;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);

        img {
          width: 24px;
        }
      }

      .mtu-main {
        padding: 40px 20px 20px;

        h3 {
          font-family: $font-heading;
          font-weight: 600;
          margin-bottom: 10px;
        }

        p {
          font-size: $fs-body;
          line-height: 180%;
        }
      }
    }

    .mtu-btn {
      @include button-base;
      background: $primary;
      color: $white;
      width: 120px;
      height: 40px;
      margin: 0 auto;
    }
  }
}

/* =========================
   STORIES
========================= */


/* =========================
   Footer SECTION
========================= */

footer {
  @include flex-column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 50px;

  .footer-header {
    @include flex-column;
    justify-content: center;
    text-align: center;
    gap: 10px;

    p {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 0%;
      text-align: center;

    }

    .phone-num {
      text-decoration: none;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 0%;
      text-align: center;
      color: $text-black;
    }
  }

  .footer-midd-content {
    @include flex-column;
    gap: 20px;

    h3 {
      font-family: $font-primary;
      font-weight: 500;
      font-style: Medium;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $text-black;
    }

    .social-media-links {
      @include flex-row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      i {
        text-decoration: none;
        color: $text-black;
        font-size: 25px;
      }
    }
  }

  .footer-footer {
    @include flex-column;
    justify-content: center;
    text-align: center;
    gap: 5px;

    p {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 0%;
      text-align: center;

    }

    a {
      text-decoration: none;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 0%;
      text-align: center;
      color: $text-black;
    }
  }
}

.stories {
  display: none;
}

@media (min-width: 768px) {
  .stories {
    display: block;
    margin: $space-lg 0;

  }

  .stories-card {
    min-height: 598px;
    background-color: #E8DB84;
    @include flex-center;
    gap: 87px;

    padding: 40px 80px 0 59px;
    border-radius: 29px;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  .text-wrapper h4 {
    font-size: $fs-h4;
    font-weight: $font-weight-h4;
    color: $text-black;
  }

  .text-wrapper p {
    font-size: $fs-para;
    color: $text-black;
    max-width: 515px;
  }

  .services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;

  }

  .service-item {
    display: flex;
    align-items: center;
    gap: 13.5px;
    font-size: $fs-para;
    color: $text-black;
  }

  .icon-circle {
    border-radius: 50%;
    background-color: white;
    width: 53px;
    height: 53px;
    @include flex-center;
  }

  .mtu-btn {
    @include button-base;
    background: $primary;
    color: $white;
    width: 120px;
    height: 40px;
    margin-top: 32px;
  }
}